.card1{

    background-color:rgb(152, 150, 150) ;
    height: 800px;
}
.cardbody1{
    height:100px;
}
.cardcontainer{

    width:350px;
    padding-top: 50px;
  
  
}
.cardimage{
    height:290px;
    width:350px;
   
   
}

#cardactors{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cardtitle{
    color: white;
    font-size: 30px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#cardtype{
    color: rgb(235, 36, 36);

    font-size: 25px;
}
#cardbutton{

    width:300px;
}
/* .btntext{
    margin-top: -30px;
} */